.home-title {
  width: 100%;
  margin: 0px auto;
  margin-bottom: 40px;
}
.home-title h1 {
  font-size: 40px;
  color: #ccc;
  text-align: center;
  width: 40%;
  margin: 20px auto;
  padding: 40px;
  background: #303030;
  text-shadow: 2px 4px 5px #6f6f6f;
  border-radius: 60px;
  box-shadow: 3px 3px 6px #202020, inset 5px 3px 10px #fff;
  transform: perspective(500px) translateZ(10px);
}
